$primary-color: #56A7FF;
$ui-grey: #EFEFEF;
$light-blue: #56a8ff42;
$text-color: #333;
$available-color: #A6FFA1;
$low-stock-color: #FFA1A1;
$background-color: #f5f5f5;
$border-color: #ddd;
$active-border-color: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$indicator-blue: #2196F3;
$indicator-red: #FF5252;
$hover-instruction-color: #666;
$subtitle-color: #777;